@font-face{
    font-family: Lato;
    src: url(./Font/Lato-Regular.ttf);
}
*{
    box-sizing: border-box;
   
    color: white;
    font-family: 'Lato';
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    background-color: #70b7e3;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    min-height: 85vh;
    flex-wrap: wrap;
    transition: all 200ms ease-in-out;
}
img{
    animation: popup 5s infinite;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes popup{
0%{
    transform: translate(-5px);
}
25%{
    transform: translate(-15px);
    transform: translateY(-15px);
    transform: rotate(-5deg);
}
75%{
    transform: rotate(5deg);
}
100%{
    transform: translate(-25px);
    transform: translateY(-25px);
}
}
ul{
    margin: 0;
    padding: 0
}
ul>li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 200ms ease-in-out;
}
li:hover{
    background-color: rgba(146, 169, 211, 0.123);
    cursor: pointer;
    color: #f973ad;
    transform: translateY(-5px);
}
nav{ 
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
    background: #ffffff33;
}
h1{
    font-size: 3em;
    margin-bottom: 0;
}
p{
    align-self: end;
}
a{
    display: block;
    width: fit-content;
    border: 2px solid white;
    background-color: #f973ad;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    transition: all 200ms ease-in-out;
}
section:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    height: 80px;
}

a:hover{
    background-color: #DB9DC2;
    transform: translateY(-5px);
}
@media(max-width: 876px){
   a{
       align-self: center;
       width: 100%;
   } 
}